.App {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  height: 55px;
   
}

.logo {
  height: 33px;
  margin-left: 14.3%;
}

.nav-bar {
  background-color: #e41e25;
  padding: 10px 0;
  height: 20px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left:18%; /* Alinhado com a logo */
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.menu .home-button {
  font-size: 20px;
}

.menu a:hover {
  text-decoration: underline;
}

.ad-space {
  height: 300px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 18px;
  margin-top: 10px;
}
